.customzationPanel(id="customize__rim")
    .chooseModel 
        .chooseModel__title 
            p="Model:"
        .chooseModel__options 
            .option
                .optionIcon(id="rim1" class="activeOption")
                p.optionName="Rim 1"
            .option
                .optionIcon(id="rim2")
                p.optionName="rim2"
    .chooseModel 
        .chooseModel__title 
            p="Barrel Material:"
        .chooseModel__options 
            .option
                .optionIcon(id="barrelMaterialMetal" class="activeOption")
                p.optionName="Metal"
                .barrelColor
            .option
                .optionIcon(id="barrelMaterialCF")
                p.optionName="Carbon Fibre"